.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  width: 48px;
  padding-left: 20px;
}

textarea {
  width: 300px;
  height: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.crossword-grid {
  background: transparent;
  display: grid;
  // list-style-type: none;
  // padding: 0;
  // outline: 1px solid black;
  border: 1px solid black;
  margin-right: 100px;
}

// .crossword-grid-container{

// }
.blank {
  background: black;
  border: 1px solid black;
  // outline: 1px solid black;
  height: 50px;
  width: 50px;
}

.forPrint {
  .blank {
    background: white;
    // border: 1px solid white;
    // outline: 1px solid white;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    // outline: 1px solid black;
  }
}

.item {
  border: 1px solid black;
  // outline: 1px solid black;
  background: transparent;
  position: relative;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.hint {
  background-color: yellowgreen;
  opacity: 0.5;
}
.label {
  position: relative;
  color: red;
}
.text {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 14px;
  line-height: 1;
}
.labels-container {
  position: absolute;
}

.info-panel {
  padding-top: 50px;
}

.main-panel {
  display: flex;
}

.board-panel {
  flex: 45%;
  // padding-left: 50px;
}

.def-panel {
  flex: 55%;
}

.all-crosswords-panel {
  display: flex;
}
.preview-panel {
  flex: 45%;
}
.list-panel {
  flex: 55%;
  width: 100%;
  height: 400px;
}

.rendered-definitions {
  display: flex;
}
.across-def,
.down-def {
  flex: 50%;
}

.empty-def {
  width: 800px;
  // padding-right: 20px;
  background-color: greenyellow;
}

.defs-row {
  display: flex;
  width: 800px;
  padding-right: 40px;
}

.defs-col {
  flex: 50%;
}

.defs-answer {
  flex: 50%;
  margin-right: 20px !important;
}

.info-thing {
  display: flex;
  // justify-content: space-between;
  // width: 1000px;
}

.switch-crossword-mode {
  // text-align: center;
  // justify-content: center;

  display: flex;
  width: 500px;
  padding-right: 300px;
}

.new-defss-block {
  margin-top: 50px;
  border: solid 3px;
}

.add-button {
  margin-right: 100px !important ;
}

.preview-panel .crossword-name {
  text-align: center;  
}
